.App {
  text-align: center;
}

#Clock {
  border: 1px solid black;
  float: left;
  width: 50%;
  min-height: 600px;
  vertical-align: middle;
}

#ClockProps {
  border: 1px solid gray;
  float: right;
  width: 49%;
  min-height: 600px;
}
